h1 {
    text-align: center;
  }
  
  #movie-details {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .movie-details-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  .movie-details-item img {
    width: 200px;
    height: 300px;
  }
  
  .movie-details-item p {
    margin: 10px 0;
  }